<!DOCTYPE html>
<html>
    <head>
        <title><%=pervoe %> <%=vtoroe %></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/dost.css" type="text/css">
    </head>
    <body id="vueapp10">
        <%- include("partials/header.ejs") %>
        <div id="mainer">
            <h2><%=pervoe %> <%=vtoroe %></h2>
            <div id="bloki">
                <%-tretie %>
                <a id="dobphoto" href="/zaglushka/dobavlenie" @click="dobinf">
                    <p id="pluser">+</p>
                    <p id="texter">Добавить<br>достижение</p>
                </a>
            </div>
        </div>
        <p class="unvis" id="un1"><%=vtoroe %></p>
        <p class="unvis" id="un2"><%=chocker1 %></p>
        <p class="unvis" id="un3"><%=chocker2 %></p>
        <p class="unvis" id="un4"><%=chondex %></p>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/script10.js"></script>
    </body>
</html>